.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    border-radius: 50%;
    position: absolute;
    /* right: 5px; */
    /* top: 9px; */
}

.badge-danger {
    color: white;
    background-color: #dc3545;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    /* font-size: 75%; */
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}