@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  max-height: 500px;
}

.nav_title a span{
  font-size: 17px;
}

.nav_title a img{
  width: 40px;
}

.history h3{
  padding-top: 70px;
}

.modal{
  z-index: 9999;
}

.profile_name{
  display: none;
  color: #ECF0F1;
  font-size: smaller;
}

.profile_saldo{
  font-size: 18px !important;
  color: wheat !important;
}

.smaller{
  font-size: smaller;
}

.form-check-label {
  color: black;
}

.profile-space{
  padding-top: 10px;
}


@media only screen and (max-width: 768px) {
  .profile_name{
    display: inline;
    margin-top: -20px;
  }

  .profile_name h5{
    padding-top: 10px;
    font-size: 10px;
  }

  .profile_name .img-circle{
    margin-top: 30px;
  }

  .profile_saldo{
    margin-top: -10px;
    font-size: 12px !important;
    padding-bottom: 20px;
  }

  .profile-space{
    padding-top: 20px;
  }
}

@media only screen and (max-width: 425px) {
  footer div{
    font-size: 11px;
  }

  .history h3{
    font-size: 25px;
  }

}

@media only screen and (max-width: 320px) {
  .history h3{
    font-size: 25px;
  }
}